* {
  box-sizing: border-box;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
  height: 90vh;
  display: flex;
}

.dragzone {
  width: 20%;
  padding: 1rem;
  margin: 1rem;
}

.draggable {
  height: 3rem;
  width: 80%;
  display: flex;
  align-items: center;
  padding-inline: 1rem;
  margin-block: 1rem;
  cursor: move;
}

.dropzone {
  position: relative;
  width: 100%;
  padding: 1rem;
  margin-block: 1rem;
  overflow-y: scroll;
}

